
---
export const getStaticPaths=()=>{
    return [
      {params: {user: 'clifford'},props:{id:4009} },
      {params: {user: 'rover'} },
      {params: {user: 'spot'} },
    ];
}
  
const { user } = Astro.params;

const {id}=Astro.props

console.log(id)

//console.log(Astro)

 /* if(user.includes('cliffords')) {
  return   Astro.redirect('/')
} */

/*if(user.includes('rover')) {
  return  Astro.rewrite("/users/spot")
}*/ 

//return Astro.rewrite("/users/spot")

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User {user}</h1>
</body>
</html>