---
import Base from "../layouts/Base.astro";

---
<Base>
    <header>
        <ul>
            <li>
                <a href="/">Index</a>
                <a href="/home">Home</a>
                <a href="/author">GO to author page</a>
            </li>
        </ul>
    </header>
</Base>