

<table>

    <thead>
        <slot name="head-element"/>
    </thead>

    <tbody>
        <slot name="body-element">
           <p>wwwwwwwwwwww2</p>
           <span>oku</span>
           <Fragment>
            <tr>
                <td>empty</td>
                <td>empty</td>
            </tr>
           </Fragment>
        </slot>
    </tbody>

</table>