---
import Base from "../../layouts/Base.astro";
import '../../css/tailwind.css'

---

<Base  title="tailwind test" >

    <div class="bg-green-400 text-blue-800 text-xl" >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium perferendis delectus iure repellendus commodi qui vel cum repellat laboriosam voluptatibus.
    </div>

</Base>